/* ===========================policy================================== */

@font-face {
  /* police*/
  font-family: "mermaid";
  src: url(./../font/Mermaid1001.ttf);
}
@font-face {
  /* police*/
  font-family: "nulshock";
  src: url(./../font/nulshock_bd.otf);
}

/* ===========================variable================================== */

$font-family-base: "mermaid";
$primary: #6DA0B2   ;
$secondary: #CAD7E2;
$warning: #000000;
$dark: #053B53;
$info: #03BCE8;
$danger: #EB1D36;
$light: #fff;

/* ==============================style================================== */


h1,h2,h3,h4,h5,nav{
font-family: 'nulshock';
}
body{
    background-color: $secondary;
}
#nav, footer {
    background-color: $primary !important;
}
#nav nav div a,footer a {
    color: $light !important;
}








/* ==============================import================================== */
@import "~bootstrap/scss/bootstrap";
