
 .buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 20px;
}
 .buttons .btnsize {
    padding: 0 10px;
    display: inline-flex;
    color:#fff;
    background: #6DA0B2;
    margin-left: 10px;
    cursor: pointer;
}
 .buttons .btnsize.active{
     background: #053B53;  /*053B53 */
}
 .buttons .btnsize:nth-child(2){
    font-size: 1.3em;
}
 .buttons .btnsize:nth-child(3){
    font-size: 1.7em;
}
 .fontSize{
    transition: 0.5s;

}

.col-md-4-5 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
}




